# requirements.txt

# requirements.txt

# --- Web框架与服务器 ---
Flask
gunicorn

# --- 核心逻辑编译与构建工具 ---
Cython
setuptools  # <-- 【重要】添加这一行

# --- 大模型API调用 ---
openai

# --- PDF内容与表格提取 ---
# --- PDF内容与表格提取 ---
PyMuPDF
camelot-py[cv]
pypdfium2

# --- 数据处理 ---
pandas
